.navbar{
    background-color: #0d2137;
 }
#sectionzero{
    
    height: 1000px ;
    width: 100%;
    overflow-x: hidden;
    background  : #0d2137;
    
}

/*mourabaaat*/

.animated-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);   
    animation:  animate 20s linear infinite;
    bottom: -310px;
   }

   .animated-area li:nth-child(1){
       left: 86%;
       width: 80px;
       height: 80px;
       animation-delay: 0s;
   }

   .animated-area li:nth-child(2){
       left: 12%;
       width: 30px;
       height: 30px;
       animation-delay: 1.5s;
       animation-duration: 10s;
   }

   .animated-area li:nth-child(3){
       left: 70%;
       width: 100px;
       height: 100px;
       animation-delay: 5.5s;
       
   }

   .animated-area li:nth-child(4){
       left: 42%;
       width: 150px;
       height: 150px;
       animation-delay: 0s;
       animation-duration: 15s;
   }

   .animated-area li:nth-child(5){
       left: 65%;
       width: 40px;
       height: 40px;
       animation-delay: 0s;
      
   }
   .animated-area li:nth-child(6){
       left: 15%;
       width: 110px;
       height: 110px;
       animation-delay: 3.5s;
       
   }
   @keyframes animate{
       0%{
           transform: translateY(0) rotate(0deg);
           opacity: 1;
       }
       100%{
           transform: translateY(-800px) rotate(360deg);
           opacity: 0;
       }
   }



.txt{
    margin: 50px;
}
.txt h1{
    position: relative;
    right :317px;
    font-size: 120px;
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    color: #ff8e2b ;
    letter-spacing: 1px;
}
.txt h2{
    position: relative;
    left: -23px;
    margin: 0;
    padding: 0;
    font-size: 110px;
    font-family:  sans-serif;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #ff8e2b;
    -webkit-text-fill-color:#0d2137;
    
}
.txt h3{
    position: relative;
    right: 143px;
    font-size: 90px;
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    letter-spacing: 1px;
    color: #ff8e2b ;
   
}
#sectionone{
    background:#e0eaf5 ;
    height: 700px ;
    width: 100%;
    overflow-x: hidden;
 }
 
     .haboutus h1{
         font-family: sans-serif;
         margin: 40px;
     }
 
     .haboutus p{
 
         margin: 60px;
         font-size: 20px;
         font-family: sans-serif;
         text-align: justify;
         
     }
 
     .image {
         opacity: 1;
         display: block;
         width: 100%;
         height: auto;
         transition: .5s ease;
         backface-visibility: hidden;
         padding: 25px;
       }
       
       .middle {
         transition: .5s ease;
         opacity: 0;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         text-align: center;
       }
       
       .container:hover .image {
         opacity: 0.3;
       }
       
       .container:hover .middle {
         opacity: 1;
       }
       
       .text {
         background-color: #4CAF50;
         color: white;
         font-size: 16px;
         padding: 16px 32px;
       }
#sectiontwo{
    height: 700px ;
    width: 100%;
    background-color: #0d2137;
    height: 700px;
}
.one{
    padding: 100px;
    text-align: center;
}
.one p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight:300 ;
    letter-spacing: 1px;
    color :#e0eaf5; 
    margin-right: 70px;
    margin-left: 70px;
    
}
.one h2{
    color: #e0eaf5;
    font-family: sans-serif;
    letter-spacing: 5px;
    padding-top: 20px;
    font-size: 50px;
}
.container .serviceBx{
        width: 350px;
        height: 400px;
        display: flex;
        background-color : white ;
        position: relative;
        justify-content: center;
        align-items: center;
}

.container .serviceBx img{        
    max-width: 100px;
}

.container .serviceBx h3{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 500px;
    letter-spacing: 1px;
    color:  black;
}

.container .feedback{
    width: 550px;
        padding: 60px 50px;
        display: flex;
        background: white;
        justify-content: center;
        align-items: center;
        margin: 15px;
}

.container .feedback p{
    font-style: italic;
}
.container .feedback h4{
    font-size: 30px;
    
}

#sectionthree {
    background-color: #2e77ae;
    padding-top: 700px;
    margin-top: -320px;
    margin-bottom: -15px;
}

.three{
    position: relative ;
    top: -350px;
}
.three h2{
    color: #e0eaf5;
    font-family: sans-serif;
    letter-spacing: 5px;
    padding-top: 20px;
    font-size: 50px;
}


#sectionfour{
    height: 900px ;
    width: 100%;
    overflow-x: hidden;
 }
 
 .change{
     padding: 20px;
 }

.change h4{
    font-family: sans-serif;
    font-size: 40px;
    text-align: left;
    
}
.change p{
    font-family: sans-serif;
    font-size: 14px ;
    line-height: 2 ;
    letter-spacing: 0;
    
    
}


 .bluebg{
     
     background-size :cover;
     background-position: center;
     background-color: #0d2137;
     height: 900px;
     width: 100%;
     padding :80px

 }


 .whitebg{
    background-size :cover;
    background-position: center;
    background-color: #e0eaf5;
    height: 900px;
    width: 100%;
    padding :80px;
   /*left :-12px;*/
 }
 .form .inputBx{
     margin-bottom: 40px;

 }
 .form .inputBx input {
     width: 100%;
     background: transparent;
     box-shadow: none;
     border: none;
     outline: none;
     padding: 10px 0;
     font-size: 18px;
     font-weight: 300;
     color: #fff;
     border-bottom: 2px solid #fff;
 }

 .form .inputBx input::placeholder {
     color :#fff;

 }



 .form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder {
    color :#fff;

}



#footer{
    background-color: #fff;     
    height: 40px;
}

.follow {
    position: relative;
	font-size: 15px;
	margin-right: 10px;
	padding: 0;
    color: gray;
    left : 5px; 
    bottom : -13px;
}

.social a{
    font-size: 30px;
    padding: 5px;
}
.fa-facebook{
    color : #3b5998;
}
.fa-twitter {
    color : #00aced;
}
.fa-instagram {
    color : #517fa4;
}
.fa-youtube{
    color : #bb0000;
}

.fa-facebook:hover , .fa-instagram:hover ,
 .fa-twitter:hover , .fa-youtube:hover{
    color : #d5d5d5;
}      
.pfoot p {
    font-size: 15px ;
    color : black;
    margin: 15px;

}